#notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.notification {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    opacity: 0.9;
}

.notification.message {
    background-color: #4CAF50;
}

.notification.warning {
    background-color: #FF9800;
}

.notification.error {
    background-color: #F44336;
}


.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.timer-bar {
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}